@model IEnumerable<E_commerce.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(User.IsInRole("Admin"))
{
    <div class="margin-left">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
}

<div class="products">
    @foreach(var product in Model)
    {
        <div class="container-product">
            <div class="container-image">
                <img src=@product.Image alt=@product.Title class="container-image__img" />
            </div>
            <div class="container-description">
                <h3 class="container-description__title">@product.Title</h3>
                <p class="container-description__price">
                  <span class="text-decoration">Price:</span>
                  <span>@product.Price.ToString("c")</span>
                </p>
                <p class="container-description__rating">
                  <span class="text-decoration">Rating:</span>
                  <span>
                    @product.Rating &starf;
                  </span>
                </p>
            </div>
            @Html.ActionLink("Details", "Details", new { id=product.IdProduct }, new { @class="details-product btn btn-primary"})
        </div>
    }
</div>
